@page
@model MyZone.Pages.AuthorizationPageModel
@{
    ViewData["Title"] = "Authorization";
}
<header class="done" id="EncryptionLink">
    <h2> Авторизация </h2>
</header>
<header id="DecryptionLink">
    <h2> Регистрация </h2>
</header>
<div class="main">
    <div class="autorization">
        <form method="post">
            <h4>Логин</h4>
            <input type="text" name="login">
            <h4>Пароль</h4>
            <input type="text" name="passwd">
            <p>@Model.ErrorMessage</p>
            <input type="submit" value="Войти">
        </form>
    </div>

    <div class="registration">
            <h3>Введите свои данные</h3>
            <h4>Имя</h4>
            <input type="text" name="name">
            <h4>Номер телефона</h4>
            <input type="text" name="telephone">
            <h4>Адресс электронной почты</h4>
            <input type="text" name="email">
            <h4>Ваш логин</h4>
            <input type="text" name="login">
            <h4>Придумайте пароль</h4>
            <input type="text" name="passwd">
            <input type="submit" value="Зарегистрироваться">
    </div>
</div>

