@page
@model MyZone.Pages.MainPageModel
@{
    ViewData["Title"] = "MyZone";
}
<h2>Каталог</h2>
<ul id="catalog">
    @foreach (var item in Model.Catalog)
    {
        <li><a href="">@item.name</a> @item.count</li>
    }
</ul>